<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FCTextLabels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Kerning Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>console.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C14423931DF410AA009C25BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C14423AD1DF410AB009C25BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C14423C41DF4157E009C25BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C14423F81DF420F6009C25BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
